.bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-container {
    display: flex;
    justify-content: center ;
    align-self: center;
}

.increment-btn {
    background-color: rgb(143, 143, 223);
    color: white;
    border-radius: 6px;
    border: none;
    height: 30px;
    font-size: 15px;
    box-shadow: 5px 5px black;
    margin-bottom: 10px;
    width: 100px;
    font-size: 30px;
}

.hr-element {
    height: 3px;
    background-color: red;
}

.span-value {
    color: blue;
}